!!!5
html(lang="en")
  head
    title Metrics
    script(src="http://d3js.org/d3.v3.min.js" charset="utf-8")
    script(src="/jquery-1.10.min.js" charset="utf-8")
    link(rel="stylesheet" href="/css/styles.css")
    block head
  body
    header
      h1.title= title
      ul.links
        li
          a(href="/") metrics
        unless user
          li
            a(href="/login") login
        if user
          li
            a(href="/logout") logout
    .container
      block content

    footer
      p Thibault Charbonnier
