!!!5
html(lang="en")
  head
    title Metrics
    link(rel='stylesheet', href='/styles.css')
  body
    header
      h1 Metrics
    .container
      p Hello
      form(action="POST")
        label(for="id") Metric id
        input(name="id" placeholder="metric id")
        br
        label(for="value") Value
        input(name="value" placeholder="value")
        br
        input(type="submit") OK
    footer
      p ECE 2013