extends layout

block content

  form#form(action="/login" method="POST")
    label(for="email") Email
    input#email(name="email" placeholder="email")
    hr
    label(for="password") Password
    input#password(name="password" type="password")
    input.submit(type="submit" value="Login")
    a(href="/register").register register
    
  #content

  :coffee
    $('.submit').click (e) ->
      e.preventDefault()
      email = $('#email').val()
      password = $('#password').val()
      error = $('#content')
      error.html('')
      $.ajax "/login",
        type: "POST",
        data: { email:email, password:password },
        statusCode:
          200: ->
            window.location = '/'
          401: ->
            error.append("<span class='error'>Invalid password</span>")
          404: ->
            error.append("<span class='error'>No user for email: #{email}</span>")
