extends layout

block head
  link(rel="stylesheet" href="/css/user.css")

block content
  h1= user.email

  :coffee

    $(document).ready(->
      $.ajax "/users/email/metrics.json",
      type: "GET",
      data: {},
      statusCode:
        200: (response) ->

        404: (response) ->

    )