@import 'styles'

#graph
  width 800px
  center()
  margin-top 50px
  span
    display block
    text-align center
line path
  fill none
  stroke #000
  shape-rendering crispEdges
.area
  fill steelblue

.error
  color red