@import 'styles'

#graph
  width graph-width
  height 400px 
  margin 0 auto
  background-color background-color
line path
  fill none
  stroke #000
  shape-rendering crispEdges
.area
  fill steelblue