html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body{font-family:'Georgia'}
header{padding:10px 0;background-color:#4682b4;color:#fff;margin-bottom:40px;}
header h1{width:200px;margin:0 auto;text-align:center;font-size:30px}
header .links{float:right;}
header .links li{margin-right:50px;display:inline;}
header .links li a{color:#fff}
header .links li :hover{color:#ccc}
header:after{content:'';display:block;clear:both}
.container{width:960px;min-height:400px;margin:0 auto;}
.container #form{width:400px;margin:0 auto;-webkit-border-radius:10px;border-radius:10px;padding:30px 0;background-color:#a1c1db;}
.container #form label{text-align:center;display:block;margin-top:10px}
.container #form input{display:block;width:70%;margin:0 auto;margin-top:10px;padding:5px 10px;font-size:14px;-webkit-border-radius:5px;border-radius:5px;border:1px #386890 solid;outline:none}
.container #form .submit{width:20%;cursor:pointer;padding:.5em 1em;color:#fff;background-color:#4682b4;border:none;-webkit-border-radius:5px;border-radius:5px;font-size:15px;outline:none}
.container #content{width:800px;margin:0 auto;margin-top:50px;}
.container #content span{display:block;text-align:center}
.container #content .error{color:#f00}
footer p{margin-top:50px;padding:10px 0;text-align:center}
