@import 'nib'

content-width = 960px
graph-width = 800px
background-color = #ccc

global-reset()

.container
  width content-width
  margin 0 auto
#form
  width graph-width
  margin 0 auto
  padding 20px 0
  margin-bottom 50px
  background-color background-color
  h1
    text-align center